.app-wrapper {
  .body {
    padding: 1em;
  }
  .text-interaction {

  }
  .mpc-interaction {
    input {
      margin: 1em;
    }
    label {
      display: flex;
      align-items: center;
      color: var(--mpc-interaction--label-color);
      background: var(--mpc-interaction--label-background);
      border-bottom: 1px solid #ccc;
      max-width: 40em;
      &:first-child {
        border-top: 1px solid #ccc;
      }
    }
  }
}
